.container{
    padding: 20px;
}

.container h1{
    padding: 10px;
    text-align: center;
}

.container input{
    outline: none;
    border: 2px solid blue;
    font-size:1.5rem;
    padding: 10px;
    border-radius: 10px;
    box-sizing: content-box;
    
}
.container button{
    outline: none;
    border: none;
    background:none;
    box-shadow: 2px 2px 10px grey;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    margin: 10px;
    transition: transform .2s ease;
}

.container > button:hover{
    cursor: pointer;
    transform:scale(1.1)
}